{{- define "main" }}
{{- partial "index_profile.html" . }}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- $recent := first 5 $pages }}
{{- if $recent }}
<section class="home-recent">
  <h2 class="home-recent-hd">Recent Posts</h2>
  {{- range $recent }}
  <article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-hint-parent">{{ .Title }}</h2>
    </header>
    {{- if not (.Param "hideSummary") }}
    <div class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
</section>
{{- end }}
{{- end }}
